/*----------------------------------------------------------------*\
 
	Theme Name:         Starting Point
	Theme URI: 					https://element5digital.com/
	Description:        A starting point for any WordPress development. You'll want to customize this for your clients with your own information.
	Author:             Element5 Digital
	Author URI: 				https://element5digital.com/
	Version:            1.0
	Tags: 							minimal-theme, acf-core, fluid-layout, responsive, mobile-first

	License: WTFPL
	License URI: http://sam.zoy.org/wtfpl/
	Are You Serious? Yes.

\*----------------------------------------------------------------*/

/*----------------------------------------------------------------*\
	Simple standards and some quick reads

	BUILD SYSTEM:						Gulp
	|												https://gulpjs.com/
	|												in terminal run "/npm install" & "/gulp"
	PROCESSOR:							PostCSS 
	|												• http://postcss.org/
	SYNTAX:									CSSnext 
	|												• http://cssnext.io/
	NAMING CONVENTIONS: 		Modular lowercase hyphenated 
	|												• http://thesassway.com/advanced/modular-css-naming-conventions
	|												• Avoid nesting when possible 
	|												• Objects are nouns (.button, .menu, .textbox, .header)
	|												• Parent-Child relationships are also nouns (.post > .post-title)
	| 											• Subclasses are preceeded by an adjective (.dropdown-button)
	| 											• Modifiers are adjectives (is-selected, is-hidden, .left, .right)
	CSS BASE: 							Normalize 
	|												• https://necolas.github.io/normalize.css/
	FRAMEWORK: 							None, we use the power of standard css.
	|												• Grids: https://css-tricks.com/snippets/css/complete-guide-grid/
	|												• Flex-box: https://css-tricks.com/snippets/css/a-guide-to-flexbox/

\*----------------------------------------------------------------*/

/*----------------------------------------------------------------*\
	Development environment and process is up to you but here are some recommendations

	EDITOR:								VScode
	|											• https://code.visualstudio.com/
	EXTENSIONS						
	|											Auto close tags https://marketplace.visualstudio.com/items?itemName=formulahendry.auto-close-tag
	|											Auto Rename Tag https://marketplace.visualstudio.com/items?itemName=formulahendry.auto-rename-tag
	|											Beautify https://marketplace.visualstudio.com/items?itemName=HookyQR.beautify
	|											Color Highlight https://marketplace.visualstudio.com/items?itemName=naumovs.color-highlight
	|											CSScomb https://marketplace.visualstudio.com/items?itemName=mrmlnc.vscode-csscomb
	|											PostCSS Sorting https://marketplace.visualstudio.com/items?itemName=mrmlnc.vscode-postcss-sorting
	|											PostCSS syntax https://marketplace.visualstudio.com/items?itemName=ricard.PostCSS
	|											Terminal https://marketplace.visualstudio.com/items?itemName=formulahendry.terminal
										
	Use /npm-install & /gulp compile and optimize code.
\*----------------------------------------------------------------*/

/*----------------------------------------------------------------*\
	Remember, once you download the StartingPoint it's up to you to
	set things up for the specific project and develop in a way that's
	easiest for you. 

	If you're a bit uneasy or just want a familiar setup,
	take a few minutes and think about how much better a developer you
	can become by just TRYING out new technologies. It may be tough at
	first but it WILL make you a better developer. TRUST ME ON THIS. Give
	it a week, maybe two, and you will never go back.

	That's it. It's time to jump in and get your hands dirty.
	Happy Developing!
\*----------------------------------------------------------------*/