/*----------------------------------------------------------------*\
	BUTTONS
\*----------------------------------------------------------------*/
p a.button {
  margin-top: var(--Small);
}

button,
.button {
  display: inline-block;
  padding: 0.75rem var(--Large);
  margin: 0 var(--Medium) 0 0;
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 600;
  color: var(--White);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: var(--Burgundy);
  border: none;
  border-radius: 100px;
  box-shadow: none;
  transition: all 0.35s linear;

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: var(--Blue);
    box-shadow: none;
  }

  &.is-white {
    color: var(--Blue);
    background-color: var(--White);
    box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.26);

    &:hover,
    &:focus {
      background-color: var(--Sand);
      box-shadow: none;
    }
  }

  &.is-blue {
    background-color: var(--Blue);

    &:hover,
    &:focus {
      background-color: var(--Teal);
    }
  }

  &.is-orange {
    color: var(--Blue);
    background-color: var(--Orange);

    &:hover,
    &:focus {
      color: var(--White);
      background-color: var(--Red);
    }
  }
}
