/*----------------------------------------------------------------*\
	FORMS
\*----------------------------------------------------------------*/


/*---------------------------------------*\
  LISTS
\*---------------------------------------*/
form {
	& ul.gform_fields {
		position: relative;
		padding: 0;
		margin: 0;
		list-style: none;

		&>li {
			padding: 0;
			margin: 1em 0;

			&.hidden_label>label {
				display: none;
			}

			&::before {
				display: none;
			}
		}
	}
}

.gform_footer {
	margin-top: var(--xLarge);
	text-align: center;
}

.gfield_visibility_hidden {
	display: none;
}

/*---------------------------------------*\
  LABELS
\*---------------------------------------*/
form label {
	margin-bottom: var(--xSmall);
	text-transform: capitalize;
}

span.gfield_required {
	display: none;
}

ul.gform_fields>li:not(.gfield_contains_required)>label:not(.file-upload-label) {
	&::after {
		display: inline-block;
		margin-left: 0.35em;
		font-size: 0.875em;
		text-transform: lowercase;
		content: '(optional)';
	}
}

.gfield_description,
.ginput_counter,
.screen-reader-text {
	font-size: 0.875em;
}

::placeholder {
	font-weight: normal;
}

/*---------------------------------------*\
  INPUTS
\*---------------------------------------*/
input {
	width: 100%;
	padding: 0.75em;
	font-weight: bold;
	background-color: #f2f2f2;
	border: 0;
	box-shadow: none;
}

/*---------------------------------------*\
  TEXTAREA
\*---------------------------------------*/
textarea {
	width: 100%;
	padding: 0.75em;
	font-weight: bold;
	background-color: #f2f2f2;
	border: 0;
	box-shadow: none;
}

/*---------------------------------------*\
  SELECT
\*---------------------------------------*/
select {
	width: 100%;
	padding: 0.75em;
	font-weight: bold;
	background-color: #f2f2f2;
	background-image: url(../images/select_arrow.svg);
	background-repeat: no-repeat;
	background-position: center right 16px;
	background-size: 12px;
	border: 0;
	box-shadow: none;
	appearance: none;

	&.has-placeholder {
		font-weight: normal;
	}
}

/*---------------------------------------*\
  RADIO
\*---------------------------------------*/
ul.gfield_radio {
	padding: 0.5em 0;
	margin: 0;

	& li {
		display: inline-block;
		padding: 0;
		margin: 0 1em 0 0;

		&::before {
			display: none;
		}

		& label {
			position: relative;
			top: -2px;
			margin-left: 0.35em;
			font-size: 1em;
			font-weight: normal;
		}

		& input {
			position: relative;
			width: 20px;
			height: 20px;
			vertical-align: sub;
			border: 1px solid #ccc;
			border-radius: 50%;
			appearance: none;

			&::before {
				position: absolute;
				top: 4px;
				right: 4px;
				bottom: 4px;
				left: 4px;
				display: block;
				content: '';
				background-color: var(--White);
				border-radius: 50%;
				opacity: 0;
			}

			&:checked {
				font-weight: bold;
				background-color: var(--Green);
				border-color: var(--Green);

				&::before {
					opacity: 1;
				}
			}
		}
	}
}

/*---------------------------------------*\
  CHECKBOXES
\*---------------------------------------*/
ul.gfield_checkbox {
	padding: 0.5em 0;
	margin: 0;

	& li {
		display: block;
		padding: 0;
		margin: 0 1.5em 0 0;

		&::before {
			display: none;
		}

		& label {
			position: relative;
			top: -2px;
			margin-left: 0.35em;
			font-size: 1em;
			font-weight: normal;
		}

		& input {
			position: relative;
			width: 20px;
			height: 20px;
			vertical-align: sub;
			border: 1px solid #ccc;
			border-radius: 5px;
			appearance: none;

			&::before {
				position: absolute;
				top: 2px;
				right: 2px;
				bottom: 2px;
				left: 2px;
				display: block;
				content: '';
				background-image: url(../images/checkmark.svg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				opacity: 0;
			}

			&:checked {
				font-weight: bold;
				background-color: var(--Green);
				border-color: var(--Green);

				&::before {
					opacity: 1;
				}
			}
		}
	}
}

/*---------------------------------------*\ 
	FILE UPLOAD 
\*---------------------------------------*/

li:not(.gfield_contains_required)>label.file-upload-label {
	position: relative;

	&::before {
		position: absolute;
		top: 0;
		right: 0;
		display: inline-block;
		font-size: 0.875em;
		text-transform: lowercase;
		content: '(optional)';
		transform: translateX(calc(100% + 4px));
	}
}

label.file-upload-label::after {
	display: table;
	padding: 0.75rem var(--Large);
	margin: var(--Small);
	margin-bottom: 2em;
	font-family: 'Poppins';
	font-size: 14px;
	font-weight: 700;
	color: var(--Blue);
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	cursor: pointer;
	content: 'Upload File';
	background-color: var(--White);
	border: none;
	border-radius: 100px;
	box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.26);
	transition: all 0.35s linear;
	appearance: none;
}

label.file-upload-label.file-uploaded::after {
	content: 'Change File';
}

input[type="file"] {
	display: none;
	opacity: 0;

	&+span {
		position: absolute;
		top: 45px;
		left: 178px;
	}
}

/*---------------------------------------*\
  CONSENT
\*---------------------------------------*/
.ginput_container_consent {
	display: flex;
	margin-top: var(--Large);

	& input {
		position: relative;
		flex-shrink: 0;
		width: 20px;
		height: 20px;
		vertical-align: sub;
		border: 1px solid #ccc;
		border-radius: 5px;
		appearance: none;

		&::before {
			position: absolute;
			top: 2px;
			right: 2px;
			bottom: 2px;
			left: 2px;
			display: block;
			content: '';
			background-image: url(../images/checkmark.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			opacity: 0;
		}

		&:checked {
			font-weight: bold;
			background-color: var(--Green);
			border-color: var(--Green);

			&::before {
				opacity: 1;
			}
		}
	}

	& label {
		position: relative;
		top: -3px;
		margin-left: 0.35em;
		font-weight: bold;
		color: var(--Teal);
		text-transform: none;
	}
}

.gfield_consent_description {
	margin: var(--Small) 0 var(--Large) 0;
}

/*---------------------------------------*\
  INVALID
\*---------------------------------------*/
li.gfield_error {
	& label {
		color: #fa2f48;
	}

	& input {
		color: #fa2f48;
		background-image: url(../images/input_error.svg);
		background-repeat: no-repeat;
		background-position: center right 16px;
		background-size: 20px;
	}

	& textarea {
		color: #fa2f48;
		background-image: url(../images/input_error.svg);
		background-repeat: no-repeat;
		background-position: center right 16px;
		background-size: 20px;
	}

	& .validation_message {
		color: #fa2f48;
	}
}