/*-----------------------------------*\
	LISTS
\*-----------------------------------*/
ul,
ol {
  padding: 0 0 0 20px;
  margin: 2em auto;
  list-style: none;

  & li {
    position: relative;
    padding: 0 0 0 var(--Large);
    margin: var(--Small) 0;
  }
}

ul li {
  position: relative;

  &::before {
    position: absolute;
    top: 7px;
    left: 0;
    display: inline-block;
    width: 13px;
    height: 13px;
    content: '';
    background-color: transparent;
    border: 4px solid var(--Burgundy);
    border-radius: 50%;
  }
}

ol {
  counter-reset: number-counter;

  & li {
    counter-increment: number-counter;

    &:before {
      position: absolute;
      top: -3px;
      left: 0;
      display: inline-block;
      font-family: 'Poppins';
      font-size: 20px;
      font-weight: bold;
      color: var(--Burgundy);
      content: counter(number-counter);
    }
  }
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
&.has-2-columns {
  column-count: 1;

  @media(--phone) {
    column-count: 2;

    & li {
      padding-right: 1em;
    }
  }
}

&.has-3-columns {
  column-count: 1;

  @media(--phone) {
    max-width: 1024px;
    margin: 4em auto;
    column-count: 3;

    & li {
      padding-right: 1em;
    }
  }
}

&.has-4-columns {
  column-count: 1;

  @media(--phone) {
    column-count: 2;

    & li {
      padding-right: 1em;
    }
  }

  @media(--tablet) {
    max-width: 1024px;
    margin: 4em auto;
    column-count: 4;
  }
}
