/*-----------------------------------*\
	FONT FAMILIES
\*-----------------------------------*/

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v8-latin-300.woff2') format('woff2'),
  url('../fonts/poppins-v8-latin-300.woff') format('woff');

  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v8-latin-regular.woff2') format('woff2'),
  url('../fonts/poppins-v8-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v8-latin-700.woff2') format('woff2'),
  url('../fonts/poppins-v8-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v17-latin-300.woff2') format('woff2'),
  url('../fonts/open-sans-v17-latin-300.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v17-latin-regular.woff2') format('woff2'),
  url('../fonts/open-sans-v17-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v17-latin-600.woff2') format('woff2'),
  url('../fonts/open-sans-v17-latin-600.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v17-latin-700.woff2') format('woff2'),
  url('../fonts/open-sans-v17-latin-700.woff') format('woff');
}

/*-----------------------------------*\
	HEADER
\*-----------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.618em;
  margin-bottom: 0.75em;
  font-family: 'Poppins';
  font-weight: 700;
  line-height: 1.15;

  & a {
    color: inherit;

    &:hover,
    &:focus {
      color: var(--Burgundy);
    }
  }
}

h1 {
  font-size: 40px;

  @media(--phone) {
    font-size: 60px;
  }

  &.long {
    font-size: 24px;
    color: var(--Burgundy);

    @media(--phone) {
      font-size: 32px;
    }
  }

  & span {
    display: block;
    margin-top: 24px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 300;
    line-height: 1.618;
  }
}

h2 {
  font-size: 32px;
  color: var(--Burgundy);
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 300;
}

/*-----------------------------------*\
	INLINE LINK
\*-----------------------------------*/
p a,
ul a,
ol a {
  font-weight: 600;
  color: var(--Burgundy);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

/*-----------------------------------*\
	HORIZONTAL RULE
\*-----------------------------------*/
hr {
  width: 60%;
  height: 2px;
  margin: var(--xLarge) auto;
  background-color: #c8bcb8;
  border: none;
}

/*-----------------------------------*\
	TABLE
\*-----------------------------------*/
table {
  margin: var(--Large) auto;
}

/*-----------------------------------*\
	QUOTE
\*-----------------------------------*/
blockquote {
  width: 90%;
  max-width: 800px;
  padding: var(--Medium);
  margin: 2em auto;
  font-size: 1.25em;
  color: var(--GreyDark);
  text-align: center;

  & h2,
  & h3,
  & h4,
  & h5,
  & p {
    font-family: 'Open Sans';
    font-size: inherit;
    font-size: 26px;
    font-weight: 300;
    line-height: 1.4;
    color: inherit;
  }
}

blockquote > *:first-child {
  margin-top: 0;
}

blockquote > *:last-child {
  margin-bottom: 0;
}

/*-----------------------------------*\
	WP ALIGNMENT
\*-----------------------------------*/
.alignright {
  text-align: right;
}

.alignleft {
  text-align: left;
}

.aligncenter {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

img.alignright {
  display: block;
  float: right;
}

img.alignleft {
  display: block;
  float: left;
}

img.aligncenter {
  display: block;
  margin: 1em auto;
}
