/*-----------------------------------*\
	POST FOOTER
\*-----------------------------------*/
section.get-tickets-banner {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--Large) var(--Medium);
	margin-bottom: 0;
	background: var(--Orange2Red);

	@media(--phone) {
		padding: var(--Large) var(--xLarge);
	}

	&::before {
		position: absolute;
		top: 0;
		right: 0;
		z-index: -1;
		width: 400px;
		height: 500px;
		content: '';
		background-image: url(../images/footer-arcs.svg);
		background-repeat: no-repeat;
		background-position: bottom right;
		background-size: contain;
		transform: translateY(-100%);
	}

	& h2 {
		flex-shrink: 2;
		width: 100%;
		margin: 0;
		font-size: 18px;
		color: var(--White);

		@media(--phone) {
			width: auto;
			padding-right: 96px;
			font-size: 32px;
		}

		& span {
			display: none;
			margin: 0 0 0 var(--Medium);
			font-family: 'Open Sans';
			font-size: 1rem;
			font-weight: 400;
			vertical-align: middle;

			@media(--laptop) {
				display: inline-block;
			}
		}
	}

	& a {
		display: inline-block;
		flex-shrink: 0;
		padding: 8px 12px;
		margin: 0;
		font-size: 14px;
		line-height: 1;

		@media(--phone) {
			padding: 0.75rem var(--Large);
			font-size: 16px;
			line-height: 1.618;
		}
	}
}

footer.post-footer {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	padding: var(--Large) var(--Large) var(--Small) var(--Large);
	background-color: var(--Sand);

	@media(--tablet) {
		justify-content: space-between;
		padding: var(--Large) var(--xLarge) var(--Small) var(--xLarge);
	}

	&::after {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		display: block;
		height: 8px;
		content: '';
		background: var(--Orange2Red);
	}

	& .brand {
		flex-shrink: 2;
		width: 100%;
		margin-bottom: var(--Medium);
		font-size: 14px;
		text-align: center;

		@media(--tablet) {
			width: auto;
			text-align: left;

			& p {
				max-width: 160px;
			}
		}

		& svg {
			width: 200px;
			height: auto;
			fill: var(--GreyDark);
		}

		& a.button {
			margin: 0;
		}
	}

	& .menus {
		display: none;
		align-items: flex-start;
		justify-content: space-between;
		width: 500px;
		margin-bottom: var(--xLarge);

		@media(--tablet) {
			display: flex;
		}

		& .menu {
			flex-shrink: 0;

			& ul {
				padding: 0;
				margin: 0;

				& li {
					padding: 0;
					margin: var(--Medium) 0;

					&::before {
						display: none;
					}

					& a {
						font-weight: 400;
						color: var(--GreyDark);
					}
				}
			}
		}
	}

	& .profiles {
		flex-shrink: 2;
		margin-bottom: var(--Medium);
		text-align: right;

		& .profile {
			display: inline-block;
			width: 48px;
			height: 48px;
			padding: 12px;
			margin-left: var(--Small);
			background-color: #e0cbc4;
			border-radius: 50%;

			&:hover,
			&:focus {
				box-shadow: none;
			}

			& svg {
				fill: var(--GreyDark);
			}

			&.twitter:hover svg,
			&.twitter:focus svg {
				fill: #1da1f2;
			}

			&.instagram:hover svg,
			&.instagram:focus svg {
				fill: #e1306c;
			}

			&.linkedin:hover svg,
			&.linkedin:focus svg {
				fill: #0077b5;
			}

			&.facebook:hover svg,
			&.facebook:focus svg {
				fill: #3c5a99;
			}

			&.youtube:hover svg,
			&.youtube:focus svg {
				fill: #ff0000;
			}

			& svg {
				width: 100%;
				height: 100%;
				transition: all 0.15s linear;
			}
		}
	}

	& .copyright {
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: var(--Small) var(--Large);
		text-align: center;
		border-top: 1px solid #979797;

		@media(--tablet) {
			display: flex;
		}

		& p {
			font-size: 0.75em;

			& a {
				margin-left: 4px;
				color: var(--GreyDark);
				text-decoration: none;

				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}
		}

		& img {
			height: 3em;
		}
	}
}