/*-----------------------------------*\
	POST HEADER
\*-----------------------------------*/
header.post-head {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-top: 77px;
  overflow: hidden;
  background: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom: 1px solid var(--Grey);

  @media(--phone) {
    min-height: calc(50vh + 80px);
    padding-bottom: 48px;
  }

  @media(--laptop) {
    padding-top: 60px;
    margin-top: -80px;
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    width: 300px;
    height: 300px;
    content: '';
    background: var(--Turquoise2Teal);
    border-radius: 50%;
    transform: translateX(-30%) translateY(50%);

    @media(--phone) {
      display: block;
    }
  }

  & h1 {
    position: relative;
    z-index: 3;
    width: 960px;
    max-width: 90%;
    margin: 0;

    & span {
      max-width: 650px;
    }
  }

  & a.button {
    margin-top: var(--Medium);

    @media(--phone) {
      margin-top: var(--xLarge);
    }
  }

  & > div {
    position: relative;
    z-index: 2;
    max-width: 90%;
  }
}
