/*-----------------------------------*\
	CARDS
\*-----------------------------------*/
section.card-grid {
  & .card {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--Large);
    margin-bottom: var(--Medium);
    background-color: var(--Sand);

    & > * {
      flex: 0 0 auto;
    }

    & > *:first-child {
      margin-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
    }

    & h3 {
      margin-bottom: 0;
    }

    & p {
      flex: 1 1 auto;
    }

    & a.button {
      margin: 0;
    }

    &.has-no-button {
      h3 {
        font-size: 20px;
      }
    }
  }

  &.text-cards {
    & .card {
      & img {
        display: none;
      }

      & h3 {
        margin-top: 0;
      }
    }

    & .card:not(.has-no-button) {
      position: relative;
      padding: 0 var(--Large);
      background-color: var(--White);

      @media(--tablet) {
        padding: 0 var(--xLarge);
      }

      &::before {
        position: relative;
        left: -2rem;
        display: block;
        width: calc(100% + 4rem);
        height: 24px;
        content: '';
        background: var(--Turquoise2Green);

        @media(--tablet) {
          left: -4rem;
          width: calc(100% + 8rem);
        }
      }

      &::after {
        position: relative;
        left: -2rem;
        display: block;
        width: calc(100% + 4rem);
        height: 8px;
        margin-top: 3rem;
        content: '';
        background: var(--Turquoise2Green);

        @media(--tablet) {
          left: -4rem;
          width: calc(100% + 8rem);
        }
      }

      &:nth-child(even)::before,
      &:nth-child(even)::after {
        background: var(--Orange2Red);
      }

      & h3 {
        margin-top: 1.618em;
      }

      & a.button {
        margin-top: var(--Medium);
        color: var(--Blue);
        background-color: var(--White);
        box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.26);

        &:hover,
        &:focus {
          background-color: var(--Sand);
          box-shadow: none;
        }
      }
    }
  }

  &.top-cards .card {
    position: relative;
    padding: 0 var(--Large);
    background-color: var(--White);

    @media(--tablet) {
      padding: 0 var(--xLarge);
    }

    &::before {
      position: relative;
      left: -2rem;
      display: block;
      width: calc(100% + 4rem);
      height: 24px;
      content: '';
      background: var(--Turquoise2Green);

      @media(--tablet) {
        left: -4rem;
        width: calc(100% + 8rem);
      }
    }

    &::after {
      position: relative;
      left: -2rem;
      display: block;
      width: calc(100% + 4rem);
      height: 8px;
      margin-top: 3rem;
      content: '';
      background: var(--Turquoise2Green);

      @media(--tablet) {
        left: -4rem;
        width: calc(100% + 8rem);
      }
    }

    &:nth-child(even)::before,
    &:nth-child(even)::after {
      background: var(--Orange2Red);
    }

    & .bg {
      position: relative;
      left: -2rem;
      width: calc(100% + 4rem);
      min-height: 200px;
      background-position: center;
      background-size: cover;
    }

    & h3 {
      margin-top: 48px;
    }

    & a.button {
      margin-top: var(--Medium);
      color: var(--Blue);
      background-color: var(--White);
      box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.26);

      &:hover,
      &:focus {
        background-color: var(--Sand);
        box-shadow: none;
      }
    }
  }

  &.thumb-cards .card {
    align-items: center;
    text-align: center;

    & .bg {
      width: 200px;
      max-width: 100%;
      height: 200px;
      margin: 0 auto;
      background-position: center;
      background-size: cover;
      border-radius: 50%;
    }

    & p {
      margin: var(--Small) 0 var(--Large) 0;
    }

    & a.button {
      position: initial;
    }
  }

  &.cover-cards .card {
    align-items: center;
    min-height: 400px;
    padding: var(--Medium);

    & .bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-position: center;
      background-size: cover;
    }

    & h3,
    & p {
      display: none;
    }

    & .button {
      position: absolute;
      bottom: var(--Medium);
      width: calc(100% - 2rem);
      margin: 0 auto;
      font-weight: 400;
      color: var(--Blue);
      text-transform: none;
      cursor: auto;
      background-color: var(--White);
      border-radius: 0;
    }

    & a.button {
      cursor: pointer;

      &:hover,
      &:focus {
        background-color: var(--Sand);
        box-shadow: none;
      }
    }
  }
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
section.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: var(--xLarge) auto;

  & .card {
    width: 100%;
    margin-right: 0;
  }

  @media(--phone) {
    &.two-columns .card,
    &.four-columns .card,
    &.six-columns .card,
    &.eight-columns .card {
      width: calc((100% - 1em)/2);
    }

    &.three-columns .card:nth-of-type(3n),
    &.four-columns .card:nth-of-type(2n),
    &.five-columns .card:nth-of-type(3n),
    &.six-columns .card:nth-of-type(3n),
    &.seven-columns .card:nth-of-type(3n),
    &.eight-columns .card:nth-of-type(2n) {
      margin-right: 0;
    }
  }

  @media(--tablet) {
    &.three-columns .card,
    &.five-columns .card,
    &.six-columns .card,
    &.seven-columns .card {
      width: 33%;
      width: calc((100% - 2em)/3);
    }

    &.four-columns .card {
      width: 25%;
      width: calc((100% - 3em)/4);
    }

    &.five-columns .card {
      width: 20%;
      width: calc((100% - 4em)/5);
    }

    &.six-columns .card {
      width: 16.6%;
      width: calc((100% - 5em)/6);
    }

    &.seven-columns .card {
      width: 14.28%;
      width: calc((100% - 6em)/7);
    }

    &.eight-columns .card {
      width: 12.5%;
      width: calc((100% - 7em)/8);
    }

    &.four-columns .card:nth-of-type(4n),
    &.five-columns .card:nth-of-type(5n),
    &.six-columns .card:nth-of-type(6n),
    &.seven-columns .card:nth-of-type(7n),
    &.eight-columns .card:nth-of-type(8n) {
      margin-right: 0;
    }
  }
}
