/*-----------------------------------*\
	COUNTDOWN TO DAY ONE
\*-----------------------------------*/
.countdown {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: var(--xLarge) 0;
  overflow: hidden;
  text-align: center;
  background: var(--Green2Teal);

  &::after {
    position: absolute;
    top: 65%;
    bottom: -2px;
    left: 50%;
    display: block;
    width: 1200px;
    content: '';
    background-image: url(../images/bottom-arcs.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    transform: translateX(-50%);
  }

  & h2 {
    margin-top: 0;
    color: var(--White);

    & span {
      display: block;
      margin-top: var(--Medium);
      font-family: 'Open Sans';
      font-size: 16px;
      font-weight: 400;
    }
  }

  & .counter {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--Large);

    @media(--phone) {
      justify-content: space-between;
    }

    & > div {
      width: 50%;

      @media(--phone) {
        width: 18%;
      }

      &.seconds {
        display: none;

        @media(--phone) {
          display: inline-block;
        }
      }

      & p {
        font-family: 'Poppins';
        font-size: 18px;
        font-weight: 700;
        color: var(--White);
        text-transform: uppercase;
        letter-spacing: 1px;

        & span {
          display: block;
          font-size: 90px;
          line-height: 1;
          color: #a9e1b2;
        }
      }
    }
  }

  & a.button {
    position: relative;
    z-index: 2;
    margin: 0;
  }
}
