/*-----------------------------------*\
	COVER
\*-----------------------------------*/
.cover {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: var(--xLarge) 0;
  margin: var(--xLarge) auto;
  background-color: var(--Sand);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    background: var(--Red2Blue);
    opacity: 0.6;
  }

  &.has-no-image {
    padding: var(--Large) 0;

    &::after {
      display: none;
    }

    & > div {
      text-align: center;

      @media(--tablet) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
      }

      & p {
        display: inline-block;
        flex-shrink: 2;
        padding-right: 0;
        margin-bottom: var(--Large);
        color: var(--GreyDark);
        vertical-align: middle;

        @media(--tablet) {
          padding-right: 96px;
          margin-bottom: 0;
        }
      }

      & a.button {
        flex-shrink: 0;

        &.is-white {
          &:hover,
          &:focus {
            color: var(--White);
            background-color: var(--Burgundy);
          }
        }
      }
    }
  }

  & > div {
    position: relative;
    z-index: 2;
    width: 80%;
    max-width: 960px;
    color: var(--GreyDark);
    text-align: center;

    & h2,
    & h3,
    & h4,
    & p {
      color: var(--White);
    }

    & p {
      max-width: 600px;
      margin: 1em auto;
    }

    & > *:first-child {
      margin-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }
}
