/*-----------------------------------*\
	IMAGE + MEDIA
\*-----------------------------------*/
.media-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: var(--xLarge) auto;

  &.image-cover {
    align-items: initial;

    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  & > div {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media(--tablet) {
      & > *:first-child {
        margin-top: 0;
      }
    }

    & img {
      display: block;
      width: 100%;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }

  @media(--tablet) {
    flex-wrap: nowrap;

    & > div {
      width: 45%;
    }
  }
}

/*-----------------------------------*\
	IMAGE ALIGNMENT
\*-----------------------------------*/
.media-text {
  @media(--tablet) {
    &.has-image-on-right {
      & > div:first-child {
        order: 2;
      }

      & > div:last-child {
        order: 1;
      }
    }
  }
}
