/*-----------------------------------*\
	SPEAKER + SPONSOR GRID
\*-----------------------------------*/
.speakers-and-sponsors {
	padding: var(--xLarge) var(--Medium);
	margin: var(--xLarge) auto;
	text-align: center;
	background: var(--White2Sand);

	& h2 {
		text-align: center;

		& span {
			display: block;
			margin-top: var(--Medium);
			font-size: 20px;
			color: var(--GreyDark);
		}
	}

	&>a.button {
		padding: 8px 12px;
		font-size: 12px;

		@media(--phone) {
			padding: 0.75rem var(--Large);
			font-size: 14px;
		}

		&:last-of-type {
			margin-right: 0;
		}
	}

	& .speakers {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-around;
		width: 100%;
		margin-top: var(--xLarge);
		text-align: center;

		& .speaker {
			width: 130px;
			height: auto;
			margin-bottom: var(--xLarge);

			@media(--phone) {
				width: 250px;
				margin-bottom: var(--Large);
			}

			& img:first-child {
				display: block;
				width: 120px;
				height: 120px;
				margin: 0 auto var(--Small) auto;
				border-radius: 50%;

				@media(--phone) {
					width: 200px;
					height: 200px;
				}
			}

			& p {
				margin: 0;
				line-height: 2;

				&:not(:first-of-type) {
					line-height: 1.3;
				}
			}

			& img:last-child {
				max-width: 96px;
				max-height: 48px;
				object-fit: contain;
				border-radius: 0;
				display: block;
				margin: var(--Small) auto 0 auto;

				@media(--phone) {
					max-width: 140px;
					max-height: 64px;
				}
			}
		}
	}

	& .sponsors {
		width: 100%;

		& button {
			position: absolute;
			top: 50%;
			left: 0;
			z-index: 2;
			padding: 1em;
			margin: 0;
			transform: translateY(-50%);

			@media(--laptop) {
				transform: translateX(-150%) translateY(-50%);
			}

			&:focus {
				outline: 1px solid rgba(81, 203, 238, 1);
			}

			&:last-child {
				right: 0;
				left: auto;
				transform: translateY(-50%);

				@media(--laptop) {
					transform: translateX(150%) translateY(-50%);
				}
			}

			& svg {
				display: block;
				width: 2em;
				height: 2em;
			}
		}

		& .sponsor {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: var(--Medium);

			& .container {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 160px;
				max-width: 100%;
				height: 160px;
				padding: var(--Medium);
				margin: 0 auto;
				text-align: center;
				background-color: var(--White);
				border-radius: 50%;
				box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.26);

				& img {
					width: 100%;
					height: auto;
				}
			}
		}
	}
}