/*-----------------------------------*\
	TESTIMONY SLIDER
\*-----------------------------------*/
.testimony-slider {
  padding: var(--Large) 0;
  margin: var(--xLarge) auto;

  & h2 {
    text-align: center;
  }

  & .testimonies {
    & button {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 2;
      padding: 1em;
      transform: translateY(-50%);

      @media(--laptop) {
        top: 50%;
        transform: translateX(-150%) translateY(-50%);
      }

      &:focus {
        outline: 1px solid rgba(81, 203, 238, 1);
      }

      &:last-child {
        right: 0;
        left: auto;
        transform: translateY(-50%);

        @media(--laptop) {
          transform: translateX(150%) translateY(-50%);
        }
      }

      & svg {
        display: block;
        width: 1.3em;
        height: 1.3em;
        fill: #3c3667;
      }
    }

    & .slick-track {
      display: flex !important;
    }

    & .slick-slide {
      height: inherit !important;

      & > div {
        height: 100%;
      }
    }

    & .testimony {
      display: flex !important;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      height: 100%;
      padding: 0 var(--Medium);

      & p {
        position: relative;
        flex-grow: 1;
        padding: var(--Medium);
        background-color: var(--Grey);

        @media(--phone) {
          padding: var(--Large);
        }

        &::after {
          position: absolute;
          bottom: -20px;
          left: var(--Large);
          width: 0;
          height: 0;
          content: ' ';
          border: 12px solid;
          border-color: var(--Grey) var(--Grey) transparent transparent;
        }
      }

      & h3 {
        flex-grow: 0;
        margin: 1em 0;
        font-size: 18px;
        color: var(--Burgundy);
        text-align: center;
        text-transform: uppercase;

        & span {
          display: block;
          font-family: 'Open Sans';
          font-size: 1rem;
          font-weight: normal;
          color: var(--GreyDark);
          text-transform: none;
        }
      }
    }
  }
}
