/*-----------------------------------*\
	VARIABLES
\*-----------------------------------*/
/*-----------------------------------*\
	xSmall: 4px
	Small: 8px
	Medium: 16px
	Large: 32px
	xLarge: 64px
\*-----------------------------------*/
:root {
	--xSmall: .25rem;
	--Small: .5rem;
	--Medium: 1rem;
	--Large: 2rem;
	--xLarge: 4rem;
	--White: #FFFFFF;
	--Grey: #EAEAEA;
	--GreyDark: #333333;
	--Black: #000000;
	--Red: #E80000;
	--Orange: #FE941F;
	--Green: #75C583;
	--Blue: #383264;
	--Burgundy: #8F003D;
	--Turquoise: #15C4CA;
	--Teal: #007E7B;
	--Sand: #F1E7E4;
	--Orange2Red: linear-gradient(136.62deg, #FE941F 0%, #E80000 100%);
	--Red2Blue: linear-gradient(135.85deg, #8F003D 0%, #383264 100%);
	--Red2Burgundy: linear-gradient(135.85deg, #E80000 0%, #8F003D 100%);
	--White2Sand: linear-gradient(135.85deg, #FFFFFF 0%, #F1E7E4 100%);
	--Turquoise2Teal: linear-gradient(135deg, #15C4CA 0%, #007E7B 100%);
	--Turquoise2Green: linear-gradient(135deg, #15C4CA 0%, #75C583 100%);
	--Green2Teal: linear-gradient(135.93deg, #75C583 0%, #007E7B 100%);

}