/*----------------------------------------------------------------*\
	ARCHIVES TEMPLATES
\*----------------------------------------------------------------*/
/*-----------------------------------*\
	PAGINATION
\*-----------------------------------*/
nav.pagination {
  margin: var(--xLarge) auto var(--Medium) auto;
  text-align: center;

  & a {
    margin: 0 var(--Small);
  }
}

/*-----------------------------------*\
	SPONSORS
\*-----------------------------------*/
.post-type-archive-sponsor {
  & header.post-head {
    padding-bottom: 120px;
  }

  & main > article {
    margin-top: 0;

    & > section.card-grid:first-child {
      padding-top: 0;
      margin-top: -80px;

      & .card {
        text-align: center;

        & h3 {
          width: 100%;
        }

        & a.button {
          margin-right: auto;
          margin-left: auto;
        }
      }
    }

    & section.badge-key {
      margin: 0 0 var(--xLarge) 0;
      text-align: center;

      & .badge {
        display: inline-block;
        padding: 6px;
        vertical-align: middle;
        background-color: var(--White);
        border-radius: 50%;
        box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.15);

        & svg {
          display: block;
          width: 18px;
          height: 18px;
        }
      }

      & a {
        margin-left: 8px;
        color: var(--Black);

        & svg {
          position: relative;
          top: -2px;
          display: inline-block;
          width: 16px;
          margin-left: 4px;
          vertical-align: middle;
        }
      }
    }

    & section.sponsor-feed {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;

      & h2 {
        width: 100%;
        margin-bottom: var(--xLarge);
        font-size: 24px;
        color: var(--GreyDark);
        text-align: center;
      }

      & .sponsor {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: var(--Medium);
        text-align: center;
        background-color: var(--White);
        border-radius: 50%;
        box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.26);

        & img {
          width: 100%;
          height: auto;
        }

        & .badge {
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0.65em;
          background-color: var(--White);
          border-radius: 50%;
          box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.15);

          & svg {
            width: 24px;
            height: 24px;
          }
        }
      }

      &.platinum .sponsor {
        width: 140px;
        height: 140px;
        margin-bottom: var(--Large);

        @media(--phone) {
          width: 220px;
          height: 220px;
          margin-bottom: var(--xLarge);
        }
      }

      &.gold .sponsor,
      &.silver .sponsor,
      &.bronze .sponsor,
      &.other .sponsor {
        width: 140px;
        height: 140px;
        margin-bottom: var(--Large);

        @media(--phone) {
          width: 175px;
          height: 175px;
          margin-bottom: var(--xLarge);
        }
      }
    }
  }
}

/*-----------------------------------*\
	SPEAKERS
\*-----------------------------------*/
.speaker-feed {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;

  & a {
    color: var(--GreyDark);
    text-decoration: none;
  }

  & .speaker {
    width: 150px;
    height: auto;
    margin-bottom: 40px;
    text-align: center;

    @media(--phone) {
      width: 200px;
    }

    & .headshot {
      position: relative;
      display: block;
      width: 140px;
      height: 140px;
      margin-bottom: var(--Small);
      border-radius: 50%;

      @media(--phone) {
        width: 200px;
        height: 200px;
      }

      & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        display: block;
        content: '';
        background: var(--Turquoise2Green);
        border-radius: 50%;
        opacity: 0;
        transition: all 0.15s linear;
      }

      &:after {
        position: absolute;
        top: -12px;
        left: -12px;
        z-index: 5;
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        border: 2px solid var(--Sand);
        border-radius: 50%;
        opacity: 0;
        transition: all 0.15s linear;
      }
    }

    & > img:last-child {
      display: block;
      object-fit: contain;
      max-width: 96px;
      max-height: 48px;
      margin: var(--Small) auto 0 auto;
      border-radius: 0;

      @media(--phone) {
        max-width: 140px;
        max-height: 64px;
      }
    }

    &:hover .headshot::before {
      opacity: 0.6;
    }

    &:hover .headshot::after {
      opacity: 1;
    }

    & p {
      margin: 0;
      line-height: 2;

      &:not(:first-of-type) {
        line-height: 1.3;
      }
    }
  }
}

/*-----------------------------------*\
	SESSIONS
\*-----------------------------------*/
.tax-schedule main {
  & nav {
    width: 90%;
    max-width: 960px;
    padding-bottom: var(--Large);
    margin: var(--Large) auto;
    margin-bottom: 0;
    overflow: scroll;

    @media(--tablet) {
      overflow: visible;
    }

    & div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      min-width: 700px;
    }

    & a {
      font-weight: bold;
      color: var(--Teal);
      text-decoration: none;
      text-transform: capitalize;
      opacity: 0.5;
      transition: all 0.15s linear;

      &:hover,
      &:focus {
        opacity: 1;
      }

      &.active {
        opacity: 1;
      }
    }
  }

  & article > h2 {
    width: 90%;
    max-width: 960px;
    margin: var(--Large) auto var(--xLarge) auto;
  }

  & article + a.button {
    display: table;
    margin: 0 auto var(--xLarge) auto;
  }

  & .sessions {
    @media(--phone) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 auto;
    }

    & .session {
      position: relative;
      top: 0;
      height: 100%;
      padding: var(--Medium);
      margin: 0 0 var(--Large) 0;
      background: var(--Sand);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.26);
      transition: all 0.15s linear;

      @media(--tablet) {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: var(--Large);
      }

      &.speaker {
        width: 100%;
      }

      &.break {
        width: 100%;
        padding: 52px 52px 40px 24px;
        background-color: var(--White);

        &::before {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          display: block;
          height: 16px;
          content: '';
          background: linear-gradient(135.85deg, #8f003d 0%, #383264 100%);
        }

        &::after {
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          display: block;
          height: 6px;
          content: '';
          background: linear-gradient(135.85deg, #8f003d 0%, #383264 100%);
        }
      }

      &.other {
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
        padding: 52px 52px 40px 24px;
        background-color: var(--White);

        @media(--tablet) {
          max-width: 48%;
        }

        & > p {
          min-width: 100%;
        }

        &::before {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          display: block;
          height: 16px;
          content: '';
          background: linear-gradient(135deg, #15c4ca 0%, #75c583 100%);
        }

        &::after {
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          display: block;
          height: 6px;
          content: '';
          background: linear-gradient(135deg, #15c4ca 0%, #75c583 100%);
        }

        &:nth-child(even) {
          &::before,
          &::after {
            background: linear-gradient(136.62deg, #fe941f 0%, #e80000 100%);
          }
        }
      }

      & > a:first-child {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: all 0.15s linear;

        &:hover,
        &:focus {
          box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.26);
        }
      }

      & .tags {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        @media(--phone) {
          align-items: flex-start;
        }

        @media(--tablet) {
          display: inline-block;
          width: 150px;
          margin-right: var(--Large);
        }

        & > p {
          margin: 0;
          font-family: Poppins;
          font-size: 20px;
          font-weight: 700;
          color: var(--Blue);
        }

        & > svg {
          display: block;
          width: 60px;
          height: 60px;
          margin: 0;

          @media(--phone) {
            margin: 0 0 -48px 0;
          }

          @media(--tablet) {
            width: 80px;
            height: 80px;
            margin: var(--Medium) 0;
          }
        }
      }

      & .contents {
        width: 100%;
      }

      & h3 {
        margin-top: 0;
        font-size: 18px;
      }

      & .title {
        padding: 0;
        margin: var(--Medium) 0 0 0;

        @media(--phone) {
          padding-right: 100px;
        }

        @media(--tablet) {
          padding: 0;
          margin: 0;
        }
      }

      & .title > p:last-child {
        margin-bottom: 0;
      }

      & .speakers {
        & > p {
          margin: var(--Medium) 0 0 0;
          font-family: Poppins;
          font-size: 16px;
          font-weight: 700;
        }

        & .speaker {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          margin-bottom: 16px;

          @media(--phone) {
            flex-wrap: nowrap;
            margin-bottom: 0;
          }

          & > img:first-of-type {
            object-fit: cover;
            object-position: center;
            order: 1;
            width: 40px;
            height: 40px;
            margin-right: var(--Medium);
            border-radius: 40px;
          }

          & p {
            order: 3;
            width: 100%;
            margin: 0 var(--Large) 0 0;

            @media(--phone) {
              order: 2;
            }

            & span {
              font-weight: 800;
              color: var(--Teal);
            }
          }

          & > img:last-of-type {
            object-fit: contain;
            object-position: center;
            order: 2;
            width: 100px;
            height: 50px;
            margin-left: auto;

            @media(--phone) {
              order: 3;
            }
          }
        }
      }
    }
  }
}
