/*----------------------------------------------------------------*\
	CONFIRMATION TEMPLATE
\*----------------------------------------------------------------*/
body.page-template-confirmation {
	& header.post-head {
		min-height: 350px;
		text-align: center;
		background: white;

		& h1 {
			margin: 0 auto;
		}

		& h1 span {
			margin: 24px auto 0 auto;
		}

		&::after {
			display: none;
		}
	}

	& section.countdown {
		margin: 0;
	}

	& section.get-tickets-banner {
		display: none;
	}
}