/*----------------------------------------------------------------*\
	404 TEMPLATE
\*----------------------------------------------------------------*/
body.error404 {
	& header.post-head {
		min-height: calc(100vh - 208px);

		@media(--tablet) {
			padding-top: 0;
		}

		& h1 {
			margin: 0 auto;
		}

		& h1 span {
			margin-top: 0;
			font-size: 40px;
		}

		& a.button {
			margin-top: var(--Large);
		}
	}

	& section.get-tickets-banner {
		margin-top: 0;
	}
}