/*----------------------------------------------------------------*\
	FRONT PAGE TEMPLATE
\*----------------------------------------------------------------*/
body.home {

	& main>article {
		margin: var(--xLarge) auto 0 auto;
	}

	& header.post-head {
		align-items: flex-start;
		min-height: 70vh;
		padding-top: 64px;
		padding-bottom: 32px;
		margin-top: 0px;

		@media(--phone) {
			align-items: center;
			min-height: calc(60vh + 80px);
		}

		@media(--laptop) {
			margin-top: -80px;
		}

		&>div {
			width: 960px;

			& h1 {
				max-width: 90%;
			}

			&>* {
				max-width: 600px;
			}
		}

		& svg {
			display: block;
			width: 350px;
			max-width: 100%;
			margin-bottom: var(--Medium);
			fill: var(--GreyDark);

			@media(--phone) {
				width: 400px;
			}
		}

		& h1 {
			font-size: 24px;
			color: var(--Burgundy);
		}

		& .card {
			position: relative;
			display: inline-block;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			padding: var(--Small) 20px;
			margin: var(--Large) 0 var(--xLarge) 0;
			background-color: var(--White);

			@media(--phone) {
				display: inline-flex;
				width: auto;
				margin: var(--Large) 0 0 0;
			}

			&::before {
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				display: block;
				height: 4px;
				content: "";
				background: linear-gradient(136.62deg, #fe941f, #e80000);
			}

			& p {
				display: flex;
				align-items: center;
				justify-content: center;
				margin: var(--Medium) auto;
				font-family: 'Poppins';
				text-align: center;

				@media(--phone) {
					display: inline-block;
					margin: 0 var(--Large) 0 0;
				}

				& b {
					text-transform: uppercase;
				}

				& span {
					display: block;
					padding: 0 var(--Small);
					font-size: 48px;
					font-weight: 700;
					line-height: 1;

					@media(--phone) {
						padding: 0;
					}
				}
			}

			& a.button {
				display: table;
				margin: 0 auto var(--Medium) auto;

				@media(--phone) {
					margin: 0;
				}
			}
		}
	}

	& section.intro {
		padding-top: 100px;

		@media(--phone) {
			padding-top: 0;
		}

		&::before {
			position: absolute;
			top: -400px;
			right: -80px;
			display: block;
			width: 400px;
			height: 550px;
			content: "";
			background-image: url(../images/money-arrow-icon.gif);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;

			@media(--phone) {
				top: -480px;
				right: -100px;
				width: 600px;
			}
		}

		&>* {
			max-width: 600px;
		}
	}

	& section.card-grid {
		position: relative;
		z-index: 10;
		margin-top: 96px;
		margin-bottom: 0;

		&>h2 {
			width: 100%;
			text-align: center;
			margin-bottom: 1.5em;
		}

		& .card {
			& img {
				margin-top: 2em;
				width: auto;
				height: 60px;
			}

			& a.button {
				margin-right: var(--Medium);
			}
		}
	}

	& section.image-slider {
		& .images {
			position: relative;
			margin-bottom: 8em;

			@media(--tablet) {
				margin-bottom: 0;
			}

			& .slick-list {
				padding: 0;

				@media(--tablet) {
					padding: 0 6em;
				}
			}

			& .slick-slide {
				transition: .25s all linear;

				@media(--tablet) {
					opacity: 0.21;
				}
			}

			& .slick-active {
				opacity: 1;
			}

			& button.slick-arrow {
				position: absolute;
				bottom: -3em;
				left: 2em;
				transform: translateY(50%);
				border-radius: 50%;
				width: 63px;
				height: 63px;
				padding: 0;
				margin: 0;
				z-index: 2;

				@media(--tablet) {
					top: 50%;
					bottom: unset;
					left: 5em;
					transform: translateY(-50%);
				}

				&:last-of-type {
					left: unset;
					right: 2em;

					@media(--tablet) {
						right: 5em;
					}

					& svg {
						padding-right: 0;
						padding-left: 2px;
					}
				}

				& svg {
					width: 26px;
					height: 26px;
					padding-right: 2px;
				}
			}
		}
	}

	& .sand-block {
		position: relative;
		z-index: 5;
		height: 800px;
		margin-top: -736px;
		background-color: var(--Sand);

		@media(--phone) {
			width: 100%;
			height: 200px;
			margin-top: -125px;
		}

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 400px;
			height: 600px;
			content: '';
			background-image: url(../images/footer-arcs.svg);
			background-repeat: no-repeat;
			background-position: bottom right;
			background-size: contain;
			transform: translateY(-100%) scaleX(-1);
		}
	}

	& section.countdown {
		margin-bottom: 0;
	}

	& section.speakers-and-sponsors {
		margin-top: 0;
		background: none;
	}

	& section.editor-2-column {
		& h2 {
			width: 100%;
			text-align: center;
		}

		& iframe {
			display: block;
			max-width: 100%;
			margin: var(--Medium) 0;
		}
	}
}