/*----------------------------------------------------------------*\
	SIDEBAR
\*----------------------------------------------------------------*/
body.page-template-sidebar {
  & header.post-head {
    & h1 span.SUBTA {
      position: relative;
      top: -2px;
      display: inline-block;
      width: 100px;
      height: 32px;
      margin: 0 0 0 4px;
      overflow: hidden;
      text-indent: -99999px;
      vertical-align: middle;
      background-image: url(../images/subta.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    & a.button {
      padding: 0 var(--Small) 0 0;
      margin-top: var(--Medium);
      color: var(--Teal);
      background-color: transparent;
      box-shadow: none;

      &:hover,
      &:focus {
        color: var(--Teal);
        text-decoration: underline;
        background-color: transparent;
      }
    }
  }

  & main {
    & .article-aside {
      width: 1200px;
      max-width: 90%;
      margin: var(--xLarge) auto;

      @media(--tablet) {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
      }
    }
  }

  & article {
    width: 600px;
    max-width: 100%;
    margin: 0 auto var(--Large) auto;

    @media(--tablet) {
      width: calc(100% - 464px);
      margin: 0;
    }
  }

  & aside {
    max-width: 600px;
    margin: 0 auto;

    @media(--tablet) {
      max-width: 400px;
      margin: 0;
    }

    & > div {
      position: relative;
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: var(--Large);
      margin-bottom: var(--Medium);
      background-color: var(--Sand);

      & h3 {
        margin-top: 0;
      }

      & p {
        margin-bottom: 0;
      }

      & a.button {
        margin: var(--Large) 0 0 0;
      }
    }
  }
}
