/*----------------------------------------------------------------*\
	SINGLE SPEAKER TEMPLATE
\*----------------------------------------------------------------*/
body.single-speaker {
  & header.post-head {
    & > div {
      position: relative;
      z-index: 10;
      display: block;
      width: 90%;
      max-width: 960px;

      @media(--phone) {
        display: flex;
      }

      & > div {
        flex-grow: 1;
      }
    }

    & img {
      flex-grow: 0;
      width: 150px;
      height: 150px;
      margin-right: var(--Large);
      margin-bottom: var(--Medium);
      border-radius: 50%;

      @media(--tablet) {
        width: 200px;
        height: 200px;
        margin-right: var(--xLarge);
        margin-bottom: 0;
      }
    }

    & h1 {
      width: auto;
    }

    & h2 {
      margin-top: var(--Small);
      font-size: 24px;
    }

    & nav a {
      margin-right: 1em;
      font-weight: bold;
      color: var(--Teal);
      text-decoration: none;
      text-transform: capitalize;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  & main {
    width: 1200px;
    max-width: 90%;
    margin: var(--xLarge) auto;

    @media(--tablet) {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  & article {
    width: 600px;
    max-width: 100%;
    margin: 0 auto var(--Large) auto;

    @media(--tablet) {
      width: calc(100% - 464px);
      margin: 0;
    }
  }

  & aside {
    max-width: 600px;
    margin: 0 auto;

    @media(--tablet) {
      max-width: 400px;
      margin: 0;
    }

    & > div {
      position: relative;
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: var(--Large);
      margin-bottom: var(--Medium);
      background-color: var(--Sand);

      &.sessions {
        padding: var(--xLarge) var(--Large);

        & h3 {
          margin-top: 0;
          margin-bottom: var(--Large);
        }

        & a {
          font-weight: bold;
          color: var(--Teal);
          text-decoration: none;

          &:hover,
          &:focus {
            text-decoration: underline;
          }

          & span {
            display: block;
            font-weight: normal;
            color: var(--GreyDark);
          }
        }
      }

      &.company {
        & .logo {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 200px;
          height: 200px;
          padding: var(--Medium);
          margin: 0 auto;
          text-align: center;
          background-color: var(--White);
          border-radius: 50%;

          & img {
            width: 100%;
            height: auto;
          }

          & .badge {
            position: absolute;
            top: 90%;
            left: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 188px;
            padding: 6px;
            font-family: Poppins;
            font-weight: 700;
            line-height: 1.15;
            background-color: var(--White);
            border-radius: 50px;
            box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.15);
            transform: translateX(-50%);

            & svg {
              width: 32px;
              height: 32px;
              margin-right: 8px;
            }
          }
        }

        & p {
          margin: 0 0 var(--Large) 0;
        }
      }
    }
  }

  & main > section.cover {
    text-align: center;
  }
}
