/*----------------------------------------------------------------*\
	SINGLE SESSION TEMPLATE
\*----------------------------------------------------------------*/
body.single-session {
	& header.post-head {
		& h1 {
			position: relative;
			padding-right: 80px;
			font-size: 32px;

			@media(--phone) {
				font-size: 40px;
				padding-right: 100px;
			}

			@media(--tablet) {
				font-size: 60px;
			}

			& svg {
				position: absolute;
				top: -8px;
				right: 0;
				width: 64px;
				height: 64px;

				@media(--phone) {
					top: -16px;
					position: absolute;
					right: 0;
					width: 80px;
					height: 80px;
				}
			}
		}
	}

	& main {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
		width: 1200px;
		max-width: 90%;
		margin: var(--xLarge) auto;
	}

	& article {
		width: 600px;
		max-width: 100%;
		margin: 0 auto var(--Large);

		@media(--tablet) {
			width: calc(100% - 539px);
			margin: 0;
		}
	}

	& aside {
		max-width: 600px;
		margin: 0 auto;

		@media(--tablet) {
			width: 475px;
			margin: 0;
		}

		& .speaker {
			position: relative;
			align-items: center;
			justify-content: flex-start;
			padding: var(--Large);
			margin-bottom: var(--Medium);
			background-color: var(--Sand);

			@media(--phone) {
				display: flex;
			}

			& img {
				flex-shrink: 0;
				object-fit: cover;
				width: 80px;
				height: 80px;
				margin: 0 0 var(--Medium) 0;

				border-radius: 50%;

				@media(--phone) {
					margin: 0 var(--Large) 0 0;
					width: 164px;
					height: 164px;
				}
			}

			&>div {
				flex-shrink: 1;
			}

			& h3 {
				margin: 0;
			}

			& a {
				font-weight: bold;
				color: var(--Teal);
				text-decoration: none;
				text-transform: capitalize;

				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}
		}
	}
}