/*----------------------------------------------------------------*\
	TICKET RECOMMENDATIONS
\*----------------------------------------------------------------*/
section.question {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & h2 {
    width: 100%;
    margin-bottom: var(--Large);
    text-align: center;
  }

  & > a.button {
    margin: var(--xLarge) auto;
  }

  & a.card {
    position: relative;
    width: 100%;
    padding: 0 var(--Large) var(--Large) var(--Large);
    margin-bottom: var(--Large);
    color: var(--GreyDark);
    text-align: center;
    text-decoration: none;
    background-color: var(--White);
    transition: all 0.15s linear;

    @media(--phone) {
      width: 48%;
      margin-bottom: 0;
    }

    @media(--tablet) {
      padding: 0 var(--xLarge) var(--Large) var(--xLarge);
    }

    &:hover {
      box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.26);
    }

    &:before {
      position: relative;
      left: -2rem;
      display: block;
      width: calc(100% + 4rem);
      height: 24px;
      content: "";
      background: var(--Turquoise2Green);

      @media(--tablet) {
        left: -4rem;
        width: calc(100% + 8rem);
      }
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 8px;
      margin-top: 3rem;
      content: "";
      background: var(--Turquoise2Green);
    }

    &:nth-child(odd) {
      &::before,
      &::after {
        background: var(--Orange2Red);
      }
    }

    & h3 {
      margin-top: 1.618em;
    }

    & p {
      flex: 1 1 auto;
    }
  }
}

/*----------------------------------------------------------------*\
	TICKETS
\*----------------------------------------------------------------*/
.ticket {
  position: relative;
  display: block;
  padding: 0 var(--Large);
  margin-bottom: var(--xLarge);
  overflow: hidden;
  border-radius: 10px;

  @media(--phone) {
    padding: 0 var(--xLarge);
  }

  @media(--tablet) {
    display: flex;
    justify-content: space-between;
  }

  &::before {
    position: absolute;
    top: var(--Large);
    left: -16px;
    z-index: 2;
    display: block;
    width: 32px;
    height: 32px;
    content: '';
    background-color: var(--White);
    border-radius: 50%;
  }

  &::after {
    position: absolute;
    top: var(--Large);
    right: -16px;
    z-index: 2;
    display: block;
    width: 32px;
    height: 32px;
    content: '';
    background-color: var(--White);
    border-radius: 50%;
  }

  &.Turquoise2Green {
    background: var(--Turquoise2Green);

    & h2,
    & p {
      color: var(--Blue) !important;
    }
  }

  &.Turquoise2Teal {
    background: var(--Turquoise2Teal);
  }

  &.Red2Burgundy {
    background: var(--Red2Burgundy);
  }

  &.Red2Blue {
    background: var(--Red2Blue);
  }

  & > div:first-child {
    position: relative;
    z-index: 10;
    flex-shrink: 1;
    max-width: 664px;
    padding: var(--xLarge) 0 0 0;

    @media(--tablet) {
      padding: var(--xLarge) 0;
    }

    & h2 {
      margin-top: 0;
      font-size: 48px;
      color: var(--White);
      text-transform: capitalize;

      & span {
        display: block;
        font-size: 22px;
        text-transform: uppercase;
      }
    }

    & p {
      color: var(--White);
    }
  }

  & > div:last-child {
    position: relative;
    width: 100%;
    padding: 0 0 var(--Large) 0;
    text-align: center;

    @media(--phone) {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: space-between;
      padding: 0;
    }

    @media(--tablet) {
      display: block;
      width: 320px;
      padding: var(--xLarge) 0;

      &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -145px;
        width: 210px;
        content: '';
        background-image: url(../images/ticket-archs.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      &::after {
        position: absolute;
        top: 0;
        right: -164px;
        bottom: 0;
        width: 196px;
        content: '';
        background-image: url(../images/ticket-archs.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transform: rotate(180deg);
      }
    }

    & p {
      margin: 0;
      font-family: 'Poppins';
      font-size: 88px;
      font-weight: 700;
      color: var(--White);
    }

    & a.button {
      margin: 0;
    }
  }
}
