/*----------------------------------------------------------------*\
	VENUE
\*----------------------------------------------------------------*/
body.page-template-venue {
  overflow: hidden;

  & .location {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin-top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media(--phone) {
      padding: var(--Large);
      margin-top: -120px;
    }

    & > div {
      max-width: 600px;
      padding: 0;
      background-color: var(--White);

      @media(--phone) {
        padding: var(--xLarge);
      }

      & h2 {
        margin-top: 0;

        & span {
          display: block;
          margin-top: var(--Small);
          font-size: 24px;
          color: var(--GreyDark);
        }
      }

      & a.button {
        @media(--phone) {
          margin: var(--Large) var(--Medium) 0 0;
        }
      }
    }
  }

  & .venue-gallery {
    margin: var(--xLarge) auto;

    & ul {
      padding: 0;

      & button {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 3;
        padding: 1em;
        margin: 0;
        transform: translateX(-50%) translateY(-50%);

        &:focus {
          outline: 1px solid rgba(81, 203, 238, 1);
        }

        &:last-child {
          right: 0;
          left: auto;
          transform: translateX(50%) translateY(-50%);
        }

        & svg {
          display: block;
          width: 2em;
          height: 2em;
        }
      }

      & li {
        padding: 0;
        margin: 0;

        &::before {
          display: none;
        }

        & img {
          display: block;
          object-fit: cover;
          width: 100%;
          height: 100%;
          opacity: 0.5;
          transition: all 0.15s linear;
        }
      }

      & .slick-list {
        overflow: visible;
      }

      & .slick-active li img {
        opacity: 1;
      }
    }
  }

  & .additional-activities {
    position: relative;
    margin: var(--xLarge) auto;

    & > a.button {
      margin-top: var(--Medium);

      @media(--phone) {
        position: absolute;
        top: var(--Medium);
        right: 0;
        margin: 0;
      }
    }

    & .card-grid {
      width: 100%;
      margin: var(--xLarge) 0 var(--Large) 0;

      & .card {
        width: calc((100% - 1em)/2);
        min-height: 300px;

        @media(--phone) {
          min-height: 400px;
        }

        @media(--tablet) {
          width: calc((100% - 3em)/4);
        }
      }
    }
  }
}
