/*-----------------------------------*\
	PRIMARY NAVIGATION
\*-----------------------------------*/
.primary-navigation {
	background-color: var(--GreyLight);

	& .subta {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		padding: var(--Small);
		color: var(--White);
		background-color: var(--Teal);
		position: relative;
		z-index: 10;

		@media(--laptop) {
			padding: var(--Small) var(--Large);
		}

		& p {
			margin: 0;
			font-size: 12px;
			color: var(--White);

			@media(--laptop) {
				font-size: 16px;
			}

			& svg {
				position: relative;
				top: -2px;
				width: auto;
				height: 2em;
				margin-left: 2px;
				vertical-align: middle;
				fill: var(--White);

				@media(--laptop) {
					margin-left: var(--Small);
				}
			}

			& span {
				display: none;

				@media(--laptop) {
					display: inline-block;
				}
			}

			& a {
				margin-left: var(--Small);
				font-weight: normal;
				color: inherit;
				text-decoration: underline;

				& svg {
					position: relative;
					display: none;
					width: 1em;
					height: auto;
					margin-left: var(--Small);
					vertical-align: middle;
					fill: var(--White);

					@media(--laptop) {
						display: inline-block;
					}
				}
			}
		}
	}

	& nav.for-desktop,
	& nav.for-sticky {
		position: relative;
		z-index: 2;
		display: none;
		align-items: center;
		justify-content: space-between;
		height: 80px;
		padding: var(--Medium);
		margin: 0 auto;

		@media(--laptop) {
			display: flex;
			padding: var(--Medium) var(--Large);
		}

		& svg {
			width: auto;
			height: 40px;
			fill: var(--GreyDark);
		}

		&>a:first-child {
			position: relative;

			& span.location {
				position: absolute;
				bottom: 0;
				left: 50%;
				z-index: 2;
				padding: 0;
				font-family: 'Poppins';
				font-weight: bold;
				color: var(--Red);
				text-transform: uppercase;
				letter-spacing: 2px;
				transform: translateX(-50%) translateY(100%);
			}
		}

		& ul {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0;
			margin: 0;
			list-style: none;

			& li {
				padding: 0 var(--Small);
				margin: 0;

				@media(--laptop) {
					padding: 0 var(--Medium);
				}

				&::before {
					display: none;
				}

				& a {
					position: relative;
					padding: 0;
					margin: 0;
					font-size: 14px;
					color: var(--GreyDark);
					text-transform: uppercase;
					letter-spacing: 1px;

					&::after {
						position: absolute;
						bottom: 0;
						left: 0;
						display: block;
						width: 0;
						height: 6px;
						content: '';
						background: var(--Orange2Red);
						transition: all 0.35s linear;
						transform: translateY(200%);
					}

					&:hover,
					&:focus {
						text-decoration: none;

						&::after {
							width: 100%;
						}
					}
				}

				&.visual-button.is-blue a {
					color: var(--White);
					background-color: var(--Blue);

					&:hover,
					&:focus {
						color: var(--White);
						background-color: var(--Teal);
					}
				}

				&.visual-button a {
					display: inline-block;
					padding: 0.75rem var(--Large);
					color: var(--Blue);
					text-align: center;
					text-decoration: none;
					text-transform: uppercase;
					background-color: var(--Orange);
					border-radius: 100px;
					transition: all 0.35s linear;

					&::after {
						display: none;
					}

					& span {
						position: absolute;
						top: 100%;
						right: 0;
						left: 0;
						display: block;
						width: 100%;
						font-size: 12px;
						color: var(--GreyDark);
						text-transform: lowercase;
					}

					&:hover,
					&:focus {
						color: var(--White);
						background-color: var(--Red);
						box-shadow: none;
					}
				}
			}
		}
	}

	& nav.for-sticky {
		@media(--laptop) {
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			z-index: 10000;
			display: flex;
			background-color: var(--White);
			box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.26);
			transition: transform 0.35s linear;
			transform: translateY(-100%);

			& a {
				display: none;
			}

			&.stuck {
				transform: translateY(0);

				& a {
					display: inline-block;
				}
			}
		}
	}

	& nav.for-mobile {
		position: absolute;
		top: 40px;
		left: 0;
		z-index: 100;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 12px var(--Medium) var(--Small) var(--Medium);
		background: var(--White);

		@media(--laptop) {
			display: none;
		}

		&.stuck {
			position: fixed;
			top: 0;
		}

		& a.button,
		& button {
			padding: 8px 12px;
			margin: 0;
			font-size: 14px;
			line-height: 1;
		}

		& svg {
			width: auto;
			height: 32px;
			fill: var(--GreyDark);
		}

		&>a:first-child {
			position: relative;
			margin-bottom: 16px;
			text-decoration: none;

			& span.location {
				position: absolute;
				bottom: 0;
				left: 50%;
				z-index: 2;
				padding: 0;
				font-family: 'Poppins';
				font-size: 12px;
				font-weight: bold;
				color: var(--Red);
				text-transform: uppercase;
				letter-spacing: 2px;
				transform: translateX(-50%) translateY(80%);
			}
		}

		&>.menu {
			position: absolute;
			top: 100%;
			right: 0;
			left: 0;
			z-index: 1000;
			display: block;
			width: 100%;
			height: 0;
			padding: 0 var(--Medium);
			overflow: hidden;
			background-color: var(--Sand);
			transition: all 0.35s linear;

			&.is-open {
				height: calc(100vh - 74px);
				padding: var(--Medium);
			}

			@media(--laptop) {
				display: none;
			}

			& ul {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				padding: 0;
				margin: 0;

				& li {
					width: 100%;
					padding: 0;
					margin: 14px 0;

					&:nth-child(3) {
						margin-top: 48px;
					}

					&::before {
						display: none;
					}

					& a {
						display: block;
						color: var(--GreyDark);
						text-align: center;
						text-decoration: none;
						text-transform: uppercase;
						letter-spacing: 1px;
					}

					&.visual-button {
						float: left;
						width: 43%;

						&.is-blue a {
							color: var(--White);
							background-color: var(--Blue);

							&:hover,
							&:focus {
								color: var(--White);
								background-color: var(--Teal);
							}
						}

						& a {
							display: table;
							width: 100%;
							padding: 0.75rem;
							margin: 0 auto;
							font-size: 14px;
							line-height: 1.2;
							color: var(--Blue);
							text-align: center;
							text-decoration: none;
							text-transform: uppercase;
							background-color: var(--Orange);
							border-radius: 100px;
							transition: all 0.35s linear;

							&::after {
								display: none;
							}

							& span {
								position: absolute;
								top: calc(100% + 4px);
								right: 0;
								left: 0;
								display: block;
								width: 100%;
								font-size: 12px;
								color: var(--GreyDark);
								text-transform: lowercase;
							}

							&:hover,
							&:focus {
								color: var(--White);
								background-color: var(--Red);
								box-shadow: none;
							}
						}
					}
				}
			}
		}
	}
}